@font-face {
    font-family: 'Yekan';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/yekan/YekanWeb-Regular.woff") format("woff");
}

@font-face {
    font-family: 'YekanNumbers';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/yekan/YekanNumbers-Regular.woff") format("woff");

}

@font-face {
    font-family: 'jannat';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/jannat.ttf") format("truetype");
}
body {
    font-family: 'Yekan',Roboto, sans-serif;
}

button, input {
    font-family: 'Yekan',Roboto, sans-serif;
}

blockquote {
    background: #e4f5f7;
    margin: 1.5em 10px;
    padding: .5em 10px;
}

.RTL_direction {
    direction: rtl !important;
}

.mainFonts {
    font-family: 'Yekan','YekanNumbers','Roboto','Open Sans', sans-serif !important;
}

.FaNumbersFont{
    font-family: 'YekanNumbers', sans-serif !important;
}

.EnFont {
    font-family: 'Roboto','Open Sans', sans-serif !important;
}

.common_anchor,
.common_anchor:hover,
.common_anchor:focus {
    text-decoration: none;
    outline: none;
}

.img-circle {
    border-radius: 50%!important
}
@media (max-width:767px){.hidden-xs{display:none!important}}

.margin-top-20 {
    margin-top: 20px;
}

.person-info,
.person-about,
.skill-left,
#contact-form textarea,
#contact-form input,
.contact-text .title,
.contact-text .subtitle,
.blog-text .title,
.blog-text p,
.post-body .post-title,
.help-block {
    text-align: right;
    direction: rtl;
}
.person-info h3,
.person-about h3,
.mobile-profile .profile-inner h3,
.skill-left h2,
.inline-menu a,
.home-subtitle,
.btn-large,
section .title,
.post-body h2,
    /*
    |
    |――――――――――――――――――
    |Single Page Style
    |――――――――――――――――――
    |
    */
.single-widget ul li a,
.single-widget .widget-title,
.single-widget .widget-text a
{
    font-family: 'Yekan',Roboto, sans-serif !important;
}
.inline-menu a {
    font-size:16px !important;
}
ul#dropdown1 a {
    font-size:16px !important;
    text-align: right;
}
ul#dropdown1 li.disabled a{
    color: #dedede !important;
    font-size: 13px;
}
.person-about h3 {
    text-align: right;
    color: #00bcd4;
}
.home-title {
    font-family: 'jannat','Yekan';
    font-size:30px;
}
@media only screen and (max-width: 992px) {
    .mobile-profile h5 {
        text-align: center;
    }
    .mobile-profile h3 {
        color: #EAB82E;
        text-align: center;
    }
    .mobile-profile {
        min-height: 200px;
    }
    .pp-container {
        width:100%;
    }
    .pp-container img {
        width:50%;
    }
}
.contact-wrap .subtitle a {
    color: #FFE57F;
}
a.post-title-link {
    width:100%;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: transparent;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
}


/****** Sweet Alert ********/
.swal-text {
    direction: rtl;
}

/****** Instagram Section ********/
#instagram-content {
    position:relative;
    width:100vw;
    display: flex;
    flex-flow:row wrap;
}

#instagram-content .post {
    position: relative;
    background: #000;
    display: block;
    overflow: hidden;
}

#instagram-content .post {
    width: 25vw;
    height: 25vw;
}

@media (max-width: 576px) {
    #instagram-content .post {
        width: 50vw;
        height: 50vw;
    }
}

#instagram-content .post .image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size: cover;
    transition: all .15s ease-in-out;
}

#instagram-content .post:hover .image {
    -webkit-transform: scale(1.15) translate3d(0, 0, 0);
    transform: scale(1.15) translate3d(0, 0, 0);
}

#instagram-content .post .shell {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: relative;
    display: none;
}

#instagram-content .post:hover .shell {
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#instagram-content .post .shell span {
    font-size: 1.5rem;
    color: white;
}

#instagram-content .post .shell span:first-child {
    color: #fafafa;
    margin-right: 20px;
}

#instagram-content .post .shell span i{
    margin: 0 7px;
}